<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Root Menu -->
    <menuitem
        id="pti_ar_menu_root"
        name="PTI"
        sequence="10"
        groups="pti_ar.group_pti_manager,pti_ar.group_pti_teacher,pti_ar.group_pti_parent"/>

    <!-- Configuration (Manager only) -->
    <menuitem
        id="pti_ar_menu_configuration"
        name="Configuration"
        parent="pti_ar_menu_root"
        sequence="100"
        groups="pti_ar.group_pti_manager"/>

    <menuitem
        id="pti_ar_menu_meeting_cycles"
        name="Meeting Cycles"
        parent="pti_ar_menu_configuration"
        action="pti_meeting_cycle_action"
        sequence="10"/>

    <menuitem
        id="pti_ar_menu_time_slots"
        name="Time Slots"
        parent="pti_ar_menu_configuration"
        action="pti_meeting_cycle_time_slot_action"
        sequence="20"/>

    <menuitem
        id="pti_ar_menu_bookings"
        name="Bookings"
        parent="pti_ar_menu_root"
        sequence="20"/>

    <!-- Meetings (Manager + Teacher) -->
    <menuitem
        id="pti_ar_menu_meetings"
        name="Meetings"
        parent="pti_ar_menu_root"
        action="pti_partner_meeting_action"
        sequence="10"
        groups="pti_ar.group_pti_manager,pti_ar.group_pti_teacher"/>

    <!-- Schedule Meetings (Manager + Teacher) -->
    <menuitem
        id="pti_ar_menu_schedule_meetings"
        name="Schedule Meetings"
        parent="pti_ar_menu_root"
        action="pti_schedule_meetings_action"
        sequence="15"
        groups="pti_ar.group_pti_manager,pti_ar.group_pti_teacher"/>

    <!-- Teacher Interview Summary (Manager + Teacher) -->
    <menuitem
        id="pti_ar_menu_teacher_heading"
        name="Teachers"
        parent="pti_ar_menu_bookings"
        sequence="16"
        groups="pti_ar.group_pti_manager,pti_ar.group_pti_teacher"/>
    <menuitem
        id="pti_ar_menu_teacher_bookings"
        name="Teacher Meetings"
        parent="pti_ar_menu_teacher_heading"
        action="pti_partner_time_slot_action"
        sequence="20"/>
    <menuitem
        id="pti_ar_menu_teacher_summary"
        name="Teacher Summary"
        parent="pti_ar_menu_teacher_heading"
        action="pti_teacher_meeting_summary_action"
        sequence="16"
        groups="pti_ar.group_pti_manager,pti_ar.group_pti_teacher"/>

    <!-- Parent Interview Summary (Manager + Parent) -->
    <menuitem
        id="pti_ar_menu_parent_heading"
        name="Parents"
        parent="pti_ar_menu_bookings"
        sequence="16"
        groups="pti_ar.group_pti_manager,pti_ar.group_pti_parent"/>

    <menuitem
        id="pti_ar_menu_parent_summary"
        name="Parent Summary"
        parent="pti_ar_menu_parent_heading"
        action="pti_parent_meeting_summary_action"
        sequence="17"
        groups="pti_ar.group_pti_manager,pti_ar.group_pti_parent"/>

    <!-- Bookings (all roles) -->

</odoo>
